.paramTitle {
  &:hover {
    text-decoration: underline;
  }
}

.overflow {
  overflow: auto;

  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  height: 100%;
  width: 100%;
  padding: 20px 0;
}

.space {
  padding: 0 20px;
  height: 100%;
  display: flex;
}

.config {}

.configInput {
  width: 100%;
  display: flex;
}

.configInputMethod {
  width: 100px;
  margin-right: 12px;
}

.configInputPath {
  flex: 1;
  margin-right: 12px;
}